<nav class="navbar navbar-expand-lg navbar-light border-2 bg-dark p-0 fixed-top text-light navbar-center ">
    <div class="container-fluid">
        <a class="navbar-brand text-light dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin-left:400px;"><img [src]="sushi" alt="sushi" class=" rounded-circle" style="width: 25px;">  Explorer les applications</a>
        <div class="dropdown rounded">
            <div class="dropdown-menu bg-dark text-white shadow-lg " aria-labelledby="dropdownMenuButton"
                style="margin-left:-40px; margin-top:50px; width: 800px;">
                <div class="container">
                    <div class="row ">
                        <div class="col">
                            <h6>CORE</h6>
                            <div class="row">
                                <div c class="col-xs-8 ">
                                    <h6>Echanger</h6>
                                    <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                </div>
                              
                                <div class="col-xs-8 ">
                                    <h6>Echanger</h6>
                                    <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                </div>
                                <div  class="col-xs-8 ">
                                    <h6>Echanger</h6>
                                    <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <h6>PRODUCTS</h6>
                            <div class="row">
                                <div  class="col-xs-8 ">
                                    <h6>Echanger</h6>
                                    <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                </div>
                              
                                <div  class="col-xs-8 ">
                                    <h6>Echanger</h6>
                                    <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <h6>
                                LINKS
                            </h6>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-8 ">
                                        <h6>Echanger</h6>
                                        <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                    </div>
                                  
                                    <!-- Force next columns to break to new line at md breakpoint and up -->
                                    <div  class="col-xs-8 ">
                                        <h6>Echanger</h6>
                                        <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                    </div>
                                    <div  class="col-xs-8 ">
                                        <h6>Echanger</h6>
                                        <i style="font-size: 12px;">Les moyen de change le plus simple des trader</i>
                                    </div>
                                  </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup" style="margin-left:500px;">
            <div class="navbar-nav text-light p-7">
                <a class="nav-link active text-light p-7" aria-current="page" href="#">Blog</a>
                <a class="nav-link text-light  dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Gouvernance</a>
                <div class="dropdown rounded shadow-lg  bg-dark text-start ">
                    <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton"
                        style="margin-left:-40px; margin-top:15px;">
                        <a class=" text-white" href="#">Forum&Prepositions</a>
                        <br>
                        <a class=" text-white" href="#">Another action</a>
                    </div>
                </div>
                <a class="nav-link text-light btn btn-primary" href="#">Entrez l'application</a>

            </div>
        </div>
    </div>
</nav>