<footer style="position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;">
    <div class="container text-white P-7 " style="margin-top: 150px; margin: 0 auto;">
        <div class="row">
            <div style="margin: 0 auto;" class="w-50">
               <h1> 869 jours.</h1>
    Depuis la création de Sushi. Nous apprécions tous les amis que nous nous sommes faits tout au long du chemin vers l'avenir de la finance.
    
    
            </div>
        </div>
        <div class="row align-items-start " style="margin-top: 100px;">
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
          </div>
          <div class="row align-items-end">
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
            <div class="col">
              One of three columns
            </div>
          </div>
       
      </div>
</footer>